# Docs for the Azure Web Apps Deploy action: https://github.com/azure/functions-action

name: Build and deploy Python project to Azure Function App - og-rag-api

on:
  workflow_dispatch:  # Manual trigger only

env:
  AZURE_FUNCTIONAPP_PACKAGE_PATH: './backend'
  PYTHON_VERSION: '3.11'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python version
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: 'Deploy to Azure Functions'
        uses: Azure/functions-action@v1
        id: deploy-to-function
        with:
          app-name: 'og-rag-api'
          slot-name: 'Production'
          package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_636E539FF9854F95A11C1C7C680EF066 }}
          scm-do-build-during-deployment: true
          enable-oryx-build: true
